.main {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #fafafa;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  transition: 0.2s;
  padding-top: 130px;
}

.main.darkMode {
  background-color: #181824;
}

.main::before {
  content: "";
  position: absolute;
  top: 0;
  width: 100vw;
  height: 300px;
  background-image: url("../public/bg-desktop-light.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  filter: blur(3px);
}

.main::after {
  content: "Drag and Drop to reorder";
  width: max-content;
  height: max-content;
  position: absolute;
  left: 50%;
  top: 570px;
  transform: translateX(-50%);
  color: #919096;
}

.main.visible::before {
  filter: blur(0);
}

.main.darkMode::before {
  background-image: url("../public/bg-desktop-dark.jpg");
}

.todoApp {
  width: 500px;
  height: 500px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  opacity: 0;
  transform: translateY(-10%);
  transition: 2s;
  padding-bottom: 100px;
  margin-left: 15px;
  margin-right: 15px;
}

.visible .todoApp {
  opacity: 1;
  transform: translateY(0);
}

.todoApp .header {
  display: flex;
  justify-content: space-between;
}

.todoApp .header h1 {
  text-transform: uppercase;
  letter-spacing: 0.4em;
  font-weight: 700;
  color: #fff;
}

.todoApp .createTask {
  position: relative;
  padding: 15px 20px 15px 60px;
  background-color: #fff;
  border-radius: 5px;
  margin-top: 30px;
  cursor: pointer;
}

.todoApp .tasks {
  margin-top: 25px;
  border-radius: 5px;
  box-shadow: 0 30px 25px 0 #eee;
}

.darkMode .todoApp .tasks {
  box-shadow: 0 30px 25px 0 #101119;
}

.toolbar > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.droppable > div {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.tasks > div {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.todoApp .header div {
  cursor: pointer;
}

.darkMode .todoApp .createTask {
  background-color: #25273c;
}

.todoApp .createTask input {
  border: none;
  outline: none;
  width: 100%;
  background-color: transparent;
  font-size: 15px;
}

.darkMode .todoApp .createTask input::placeholder {
  color: #797b92;
}

.darkMode .todoApp .createTask input {
  color: #c3c5dc;
}

.todoApp .createTask::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border: 1px solid #ededef;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  left: 20px;
}

.darkMode .todoApp .createTask::before {
  border-color: #303247;
}

.task {
  background-color: #fff;
  padding: 15px 20px 15px 60px;
  display: flex;
  justify-content: flex-start;
  color: #4c4b59;
  position: relative;
  font-size: 15px;
  border-bottom: 1px solid #e6e5ea;
  align-items: center;
  top: auto !important;
  left: auto !important;
}

.darkMode .task {
  background-color: #25273c !important;
  color: #c3c5dc;
  border-color: #37394e;
}

.toolbar span:not(.firstButton) {
  cursor: pointer;
}

.task span:nth-of-type(1) {
  width: 20px;
  height: 20px;
  border: 1px solid #ededef;
  border-radius: 50%;
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.task .completed + span {
  text-decoration: line-through;
  color: #797b92;
}

.toolbar span.lastButton {
  margin-right: 20px;
}

.toolbar span.firstButton {
  margin-left: 20px;
}

.task:hover span:nth-of-type(3) {
  width: 15px;
  height: 15px;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  background-image: url("../public/icon-cross.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

.darkMode .task span:nth-of-type(1) {
  border-color: #303247;
}

.toolbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 15px 0;
  color: #9a9a9c;
  font-size: 15px;
  border-radius: 0 0 5px 5px;
}

.darkMode .toolbar {
  background-color: #25273c;
  color: #5d5e7c;
}

.task span:nth-of-type(1).completed {
  background-image: linear-gradient(-45deg, #aa77f6, #6dbdfa);
}

.task span:nth-of-type(1).completed::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 5px;
  transform: translateX(-50%);
  background-image: url("../public/icon-check.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 10px;
  height: 10px;
}

.activeFilter {
  color: #4071ce;
}

@media (width <= 560px) {
  .toolbar {
    font-size: 13px;
  }

  .toolbar div {
    position: absolute;
    top: 79px;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    font-size: 15px;
  }

  .darkMode .toolbar div {
    background-color: #25273c;
    box-shadow: 0 30px 25px 0 #101119;
  }
}

@media (width <= 500px) {
  .main::before {
    background-image: url("../public/bg-mobile-light.jpg");
  }

  .main.darkMode::before {
    background-image: url("../public/bg-mobile-dark.jpg");
  }
}
